<p id="notice"><%= notice %></p>

<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>

<p>
  <strong>Open:</strong>
  <%= @stock.open %>
</p>

<p>
  <strong>High:</strong>
  <%= @stock.high %>
</p>

<p>
  <strong>Low:</strong>
  <%= @stock.low %>
</p>

<p>
  <strong>Close:</strong>
  <%= @stock.close %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @stock.volume %>
</p>

<p>
  <strong>Stock data:</strong>
  <%= @stock.stock_data %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
